# Ignore data and weights
data/
checkpoints/
*.pkl
*.pt 
!adversarial_pgd_clickbait/q_inputs/creator_clickbait/steering_clickbait.pt

# Ignore python cache and virtual environments
__pycache__/
.venv/
venv/